all:
  hosts:
    master:
      ansible_host: {{ master_external_ip }}
      ip: {{ master_internal_ip }}
      access_ip: {{ master_internal_ip }}
      ansible_user: ubuntu
    node1:
      ansible_host: {{ node1_external_ip }}
      ip: {{ node1_internal_ip }}
      access_ip: {{ node1_internal_ip }}
      ansible_user: ubuntu
    node2:
      ansible_host: {{ node2_external_ip }}
      ip: {{ node2_internal_ip }}
      access_ip: {{ node2_internal_ip }}
      ansible_user: ubuntu
  children:
    kube_control_plane:
      hosts:
        master:
    kube_node:
      hosts:
        node1:
        node2:
    etcd:
      hosts:
        master:
        node1:
        node2:
    k8s_cluster:
      children:
        kube_control_plane:
        kube_node:
